
<div class="row">
    <div class="col-md-4 mb-md-0">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="form-group">
                    <label for="fname">fname</label>
                    <input  #fname type="text" class="form-control" id="fname">
                </div>
                <div class="form-group">
                    <label for="lname">lname</label>
                    <input  #lname type="text" class="form-control" id="lname">
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input  #email  type="text" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="contact">contact</label>
                    <input  #contact type="text" class="form-control" id="contact">
                </div>
                <button 
                (click)="onStdAdd()"
                class="btn btn-sm btn-block btn-outline-warning">Add student</button>
            </div> 
        </div>
    </div>
    <div class="col-md-8">
        <table
        *ngIf="stdArray.length > 0 ; else nostd"
        class="table table-bordered">
            <thead>
                <tr>
                    <th>Roll.no</th>
                    <th>fname</th>
                    <th>lname</th>
                    <th>email</th>
                    <th>contact</th>
                </tr>
            </thead>
            <tbody>
                <tr
                *ngFor="let std of stdArray; let i=index"
                >
                    <td>{{i+1}}</td>
                    <td>{{std.fname}}</td>
                    <td>{{std.lname}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.contact}}</td>
                </tr>
            </tbody>
        </table>

        <ng-template #nostd>
            <p class="alert alert-info">no stduent data is available in student table!!!</p>
        </ng-template>
    </div>
</div>
